@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #dde9ff;
    --sidebar-color: #FFF;
    --primary-color: #008df8;
    --primary-color-light: #f5faff;
    --text-color: #454545;
    --postbutton-color: #c3c3c3;
    --post-color: #eee;

    --tran-02: all 0.2s;
    --tran-03: all 0.3s;
    --tran-04: all 0.4s;
    --tran-05: all 0.5s;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar.close {
    width: 88px;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .image-txt img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    border: 6px;
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

.sidebar.close ~ .home {
    left: 88px;
    width: calc(100% - 88px);
}

.sidebar.close .exitbutton {
    display: none;
}
/* ===== Fine Sidebar ===== */



/* ===== Inizio Section Home ===== */
.home{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.homepage {
    flex: 2;
    width: 60%;
    background-color: var(--sidebar-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    text-align: center;
    display: inline-block;
    gap: 16px;
}

/* ===== Inizio New Post Button ===== */
.fb-btn {
    display: inline-flex;
    align-items: flex-start;
    background-color: var(--postbutton-color);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 8px 50px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fb-btn:hover {
    opacity: 0.5;
}

.fb-btn span {
   margin-top: 1px;
   margin-left: auto;
}


.fb-profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    margin-left: auto;
}

@media only screen and (max-width: 600px) {
    .fb-btn {
        font-size: 13px;
        padding: 8px 10px;
    }
}

/* ===== Fine New Post Button =====*/



/* ===== Inizia Finestra Modale =====*/
.modal {
    overflow: hidden;
    display: none;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.modal-content {
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 8%;
}

.close-win {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-win:hover,
.close-win:focus {
    color: #000;
    text-decoration: none;
}

.textwin {
    width: calc(100% - 40px);
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    box-sizing: border-box;
}

input[type="text"]{
    width: calc(100% - 40px);
    margin-top: 10px;
    margin-left: 18px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    box-sizing: border-box;
}


#postBtn {
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#postBtn:hover {
    background-color: #1463c9;
}
/* ===== Fine Finestra Modale =====*/

.posts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.post {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 850px;
}

.post-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.author-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.author-info span {
    font-weight: bold;
}

/* ===== Inizio Posizione e Aspetto del Nome Utente =====*/
.post-header .author-info button.user-profile {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    padding: 0;
    order: -1;
    margin-right: 10px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-img {
    margin-right: 10px;
}

.profile-details {
    flex-grow: 1;
}

.user-profile {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    padding: 0;
}
/* ===== Fine Posizione e Aspetto del Nome Utente =====*/

.post-content {
    padding: 15px;
}

.post-content h3 {
    margin-top: 0;
}

.comment-box {
    padding: 15px;
}

.comment-box p {
    margin: 0;
}
/* ===== Fine Section Home ===== */



/* ===== Mobile===== */
@media only screen and (min-width: 501px) {
    .icon-mobile{
        display: none;
        visibility: hidden;
    }
    .exitbutton
    {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .sidebar {
        width: 270px;
        opacity: 1;
        visibility: visible;
        z-index: 1000;
        overflow: scroll;
    }

    .sidebar.close {
        width: 0px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar.close .icon,
    .sidebar.close .image-text {
        opacity: 0;
        visibility: hidden;
    }

    .icon-mobile {
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border: 3px solid var(--primary-color);
        color: white;
        border-radius: 10px;
        position: fixed;
        margin: 15px;
        font-size: 32px;
        transition: var(--tran-03); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .exitbutton {
        color: var(--text-color);
        transition: var(--tran-03); 
        width: 30px;
        height: 30px;
        margin: 15px;
        display: flex;
        background-color: transparent;
        font-size: 30px;
    }

    .sidebar.close ~ .home {
        left: 0;
        width: 100%;
    }

    .home{
        position: absolute;
        left: 0;
        width: 100%;
    }

    .modal-content {
        width: 80%;
    }
}
/* ===== Fine Mobile =====*/