@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #454545;
    --chat-color: #f0f0f0;

    --tran-02: all 0.2s;
    --tran-03: all 0.3s;
    --tran-04: all 0.4s;
    --tran-05: all 0.5s;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
}



/* ===== Inizio Sidebar===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar.close {
    width: 88px;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .image-txt img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    border: 6px;
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

.sidebar.close ~ .home {
    left: 88px;
    width: calc(100% - 88px);
}

.sidebar.close .exitbutton {
    display: none;
}
/* ===== Fine Sidebar ===== */



/* ===== Inizio Section Home ===== */
.home{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.chat-div {
    flex: 2;
    width: 60%;
    background-color: var(--sidebar-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: flex-start;
    text-align: flex-start;
}

.nav-container .title {
    font-size: 24px;
    font-weight: bold;
    color: #333333; 
    margin-right: 10px;
}

.nav-container .bi-search {
    font-size: 24px;
    color: #999999;
    cursor: pointer;
}

.chat {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--chat-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.chat:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    filter: brightness(90%);
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chat-info {
    flex: 1; 
}

.chat-name {
    font-weight: 600;
    color: #333333; 
}

.chat-message {
    color: #666666;
}
/* ===== Fine Section Home =====*/



/* ===== Mobile===== */
@media only screen and (min-width: 501px) {
    .icon-mobile{
        display: none;
        visibility: hidden;
    }
    .exitbutton
    {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .sidebar {
        width: 270px;
        opacity: 1;
        visibility: visible;
        z-index: 1000;
        overflow: scroll;
    }

    .sidebar.close {
        width: 0px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar.close .icon,
    .sidebar.close .image-text {
        opacity: 0;
        visibility: hidden;
    }

    .icon-mobile {
        color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39px;
        height: 39px;
        border: 3px solid var(--primary-color);
        border-radius: 50%;
        background-color: transparent;
        position: fixed;
        margin: 15px;
        font-size: 32px;
        transition: var(--tran-03); 
        z-index: 999;
    }

    .exitbutton {
        color: var(--text-color);
        transition: var(--tran-03); 
        width: 30px;
        height: 30px;
        margin: 15px;
        display: flex;
        background-color: transparent;
        font-size: 30px;
    }

    .sidebar.close ~ .home {
        left: 0;
        width: 100%;
    }

    .home{
        position: absolute;
        left: 0;
        width: 100%;
    }
}
/* ===== Fine Mobile =====*/