@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #dde9ff;
    --sidebar-color: #FFF;
    --primary-color: #008df8;
    --primary-color-light: #f5faff;
    --toggle-color: #DDD;
    --text-color: #454545;
    --box-color: rgb(240, 232, 232);

    --tran-02: all 0.2s;
    --tran-03: all 0.3s;
    --tran-04: all 0.4s;
    --tran-05: all 0.5s;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar.close {
    width: 88px;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .image-txt img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    border: 6px;
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

.sidebar.close ~ .home {
    left: 88px;
    width: calc(100% - 88px);
}

.sidebar.close .exitbutton {
    display: none;
}
/* ===== Fine Sidebar ===== */



/* ===== Inizio Section Home ===== */
.home{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.settings {
    flex: 2;
    width: 60%;
    background-color: var(--sidebar-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    text-align: center;
    display: inline-block;
    gap: 16px;
}

.pic {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, filter 0.3s ease;
    position: relative;
    margin-top: 14px;
    border: 0.5px solid #333;
}

.pic:hover {
    transform: scale(1.1);
    filter: brightness(0.7);
}

.pic-container {
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.pic-container:hover .edit-box {
    opacity: 1;
    transform: translateY(0);
}

.edit-box {
    position: absolute;
    bottom: 4px;
    left: -10%;
    transform: translateX(-50%);
    background-color: var(--box-color);
    border: 1.5px solid #4a4a4a;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.edit-box span {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.edit-box i {
    font-size: 16px;
    color: #333;
}

.home h1 {
    font-size: 32px;
    color: var(--text-color);
}

.home h2 {
    color: var(--text-color);
}

.title {
   display: flex;
   margin-top: 15px;
   border-bottom: 1px solid var(--text-color); 
   z-index: 2;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}

.info-box label {
    margin-bottom: 2px;
    color: var(--text-color);
    align-self: flex-start;
    font-size: 18px;
}

.info-box input {
    width: 50%;
    padding: 8px;
    border: 1px solid var(--toggle-color);
    background-color: var(--sidebar-color);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}

.info-box textarea {
    width: 50%;
    padding: 8px;
    border: 1px solid var(--toggle-color);
    background-color: var(--sidebar-color);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}

.sub {
    background-color: #3927fc;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.sub:hover {
    filter: brightness(0.7);
}
/* ===== Fine Section Home ===== */



/* ===== Mobile ===== */
@media only screen and (min-width: 501px)
{
    .icon-mobile {
        display: none;
        visibility: hidden;
    }

    .exitbutton {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .sidebar {
        width: 270px;
        opacity: 1;
        visibility: visible;
        z-index: 1000;
        overflow: scroll;
    }

    .sidebar.close {
        width: 0px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar.close .icon,
    .sidebar.close .image-text {
        opacity: 0;
        visibility: hidden;
    }

    .icon-mobile {
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        border: 3px solid var(--primary-color);
        color: white;
        border-radius: 10px;
        position: fixed;
        margin: 15px;
        font-size: 32px;
        transition: var(--tran-03); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .exitbutton {
        color: var(--text-color);
        transition: var(--tran-03); 
        width: 30px;
        height: 30px;
        margin: 15px;
        display: flex;
        background-color: transparent;
        font-size: 30px;
    }

    .pic {
        width: 15vh;
        height: 15vh;
    }

    .uploadResult.errorResponse {
        color:red;
    }

    .sidebar.close ~ .home {
        left: 0;
        width: 100%;
    }

    .home{
        position: absolute;
        left: 0;
        width: 100%;
        transform: translateX(0);
    }
}
/* ===== Fine Mobile ===== */